@charset "utf-8";

@import 'reset','main','section_one','section_two';


.container{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    .nav-bar {
        width: 100%;
        padding-top: 40px;
        padding-left: 80px;
        padding-right: 80px;
        position: fixed;
        color:white;
        top:0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .company-logo {
            flex-grow: 1;
            img {
                width: 142px;
            }
        }
        .company-menu {
            display: flex;
            li {
                padding-right: 65px;
                font-size: 18px;
            }
        }
    }
    .indicator {
        position: fixed;
        height: 246px;
        top: 36%;
        right: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
            a  {
                display: block;
                width: 6px;
                height: 6px;
                background-color: #e1e1e1;;
                border-radius: 50%;
                &.on {
                    background-color: red;
                }
            span {
                    display: block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    opacity: 0;
            }
        }
    }
}



